{{template "body" .}}
{{define "centralPart"}}
    <div class="container">
        <div class="row">
            <div class="col">
            <h1 class="text mt-3">Let's make reservation:</h1>

                {{$ res := index .Data "reservation"}}
                <form action="/make-reservation" method="POST" novalidate class="">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="row">
                        <div class="col">
                            <label for="FristName"></label>
                            {{with .Form.Errors.Get "FristName"}}
                                <label for="FristName" class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="text" required class="form-control {{with .Form.Errors.Get "FristName"}} is-invalid {{end}}" 
                            name="FristName" value="" placeholder="First Name">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <label for="LastName"></label>
                            <input type="text" required class="form-control" name="LastName" placeholder="Last Name">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <label for="Email"></label>
                            <input type="email" required class="form-control" name="Email" placeholder="@email">
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <label for="PhoneNumber"></label>
                            <input type="text" required class="form-control" name="PhoneNumber" placeholder="+372 - phone number">
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
{{end}}
{{define "js"}}
    <script>
        let MakeReservButton = document.getElementById("MakeReservButton");
        MakeReservButton.style.display = "none"
    </script>
{{end}}