
.navbar{
  font-size: 2em;
}

.main-footer{
    height: 5em;
    padding: 1em;
    background-color: dimgrey;
    margin-top: 2em;
  }

      /* override styles here */
  .notie-container {
    box-shadow: none;
  }
  .datepicker {
        z-index: 10000;
    }

    .redText{
        color: red;
      }